@font-face {
  font-family: 'JetBrains Mono';
  src: url('/public/fonts/JetBrainsMono-VariableFont_wght.woff2')
      format('woff2'),
    url('/public/fonts/JetBrainsMono-VariableFont_wght.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
